body {
	font-family: 'PfDinDisplayPro', sans-serif;
	color: #323232;
}

.b-title {
	display: block;
	font-size: 55px;
	font-weight: 700;
	line-height: 1.2;
}
.b-subtitle {
	display: block;
	margin-top: 30px;
	font-size: 20px;
}
.main-btn {
	display: block;
	background-color: #ff4654;
	padding: 17px 10px;
	font-size: 18px;
	text-align: center;
	color: #ffffff;
	border-radius: 5px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.main-btn:hover {
	background-color: #de3c49;
}
.main-btn.trans-btn {
	padding: 16px 9px;
	border: 1px solid #ffffff;
	background-color: transparent;
}
.main-btn.trans-btn:hover {
	color: #000000;
	background-color: #ffffff;
}

.main-face {
	padding-top: 35px;
	background-image: linear-gradient(342deg, rgb(14,112,144) 0%, rgb(118,203,221) 100%);
}
.main-face .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 30px;
	max-width: 1230px;
	margin: 0 auto;
	position: relative;
}
.main-face .content {
	position: relative;
	width: calc(50% - 15px);
	padding-bottom: 90px;
	text-align: left;
	color: #ffffff;
}
.main-face .sanitation {
	position: relative;
	height: 66px;
	width: 100%;
	max-width: 340px;
	padding: 14px 20px 14px 80px;
	border-radius: 100px;
	background-color: #4c86a1;
	margin-bottom: 60px;
}
.main-face .sanitation .sanitation-img {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	background-color: #ffffff;
	position: absolute;
	left: 4px;
	top: 4px;
}
.main-face .sanitation .sanitation-img img {
	display: block;
	max-width: 70%;
	max-height: 70%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.main-face-text {
	margin: 40px auto 50px;
	font-size: 20px;
	line-height: 1.5;
}
.main-face-text p {
	display: block;
}
.main-face-text ul li {
	position: relative;
	padding-left: 26px;
}
.main-face-text ul li:before {
	content: '';
	width: 6px;
	height: 6px;
	background-color: #ff4654;
	position: absolute;
	left: 0;
	top: 12px;
	border-radius: 50%;
}
.main-face-buttons {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 500px;
}
.main-face-buttons .main-btn {
	width: calc(50% - 15px);
	max-width: 230px;
}
.main-face .image {
	width: calc(50% - 15px);
}
.main-face .image img {
	display: block;
	max-width: 100%;
	margin-left: auto;
}

.main-2-ekr {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url('../i/main-2-ekr-fon.jpg');
	text-align: left;
}
.main-2-ekr .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.main-2-ekr .wrap-item {
	width: calc(35% - 20px);
}
.main-2-ekr .wrap-item.small {
	width: calc(30% - 20px);
}
.main-2-ekr-top {
	padding: 50px 0 40px;
}
.b-video-reviews .name {
	display: block;
	font-size: 20px;
}
.b-video-reviews .flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-video-reviews .flex a {
	display: block;
	max-width: 100px;
	width: 100%;
	margin-top: 30px;
	margin-right: 30px;
}
.b-video-reviews .flex a:last-child {
	margin-right: 0;
}
.b-video-reviews .flex a img {
	display: block;
	max-width: 100%;
	border-radius: 50%;
}
.main-2-ekr-mid {
	padding: 30px 0;
	background-image: linear-gradient(90deg, rgb(20,123,141) 0%, rgb(60,148,170) 30%, rgb(89,181,200) 62%, rgb(218,249,255) 100%);
}
.main-2-ekr-mid .orthopedics {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	max-width: 310px;
}
.main-2-ekr-mid .orthopedics .image {
	width: 125px;
}
.main-2-ekr-mid .orthopedics .image img {
	display: block;
	max-width: 100%;
}
.main-2-ekr-mid .orthopedics .text {
	width: calc(100% - 140px);
}
.main-2-ekr-mid .orthopedics .text p {
	display: block;
	color: #ffffff;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 15px;
}
.main-2-ekr-mid .orthopedics .text .main-btn {
	font-weight: 700;
	padding: 12px 10px;
}
.main-2-ekr-mid .director-quote {
	font-size: 20px;
	color: #ffffff;
}
.main-2-ekr-bottom .wrap {
	align-items: flex-start;
}
.main-2-ekr-bottom .wrap-item {
	order: 1;
}
.main-2-ekr-bottom .work-date {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 45px;
	max-width: 320px;
}
.main-2-ekr-bottom .work-date .image {
	width: 60px;
}
.main-2-ekr-bottom .work-date .image img {
	display: block;
	max-width: 100%;
}
.main-2-ekr-bottom .work-date .text {
	width: calc(100% - 70px);
}
.main-2-ekr-bottom .work-date .text .name {
	font-weight: 700;
	font-size: 20px;
}
.main-2-ekr-bottom .work-date .text p {
	display: block;
	margin-top: 5px;
	font-size: 14px;
}
.main-2-ekr-bottom .wrap-item.item-image {
	height: 145px;
	position: relative;
	order: 2;
}
.main-2-ekr-bottom .wrap-item.item-image .abs-img {
	display: block;
	max-width: 120%;
	position: absolute;
	left: 50%;
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.main-2-ekr-bottom .wrap-item.small {
	order: 3;
}
.main-2-ekr-bottom .director-name {
	font-size: 14px;
	margin-top: 15px;
}

.main-3-ekr {
	padding: 45px 0 15px;
	background-color: #edf5f7;
}
.main-3-ekr-info {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
.main-3-ekr-info li {
	width: calc(25% - 22.5px);
	margin-right: 30px;
	margin-bottom: 30px;
	text-align: left;
}
.main-3-ekr-info li:nth-child(4n) {
	margin-right: 0;
}
.main-3-ekr-info li .name {
	font-size: 20px;
	font-weight: 700;
	color: #3c94aa;
}
.main-3-ekr-info li p {
	display: block;
	margin-top: 5px;
	font-size: 16px;
}

.main-awards {
	padding: 80px 0 40px;
}
.main-awards .wrap {
	border: 1px solid #d3e4e8;
	border-radius: 5px;
	padding: 30px 30px 0;
}
.main-awards .wrap ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	algin-items: flex-start;
	flex-wrap: wrap;
}
.main-awards .wrap ul li {
	width: calc(100%/3 - 20px);
	margin-bottom: 30px;
	margin-right: 30px;
}
.main-awards .wrap ul li:nth-child(3n) {
	margin-right: 0;
}
.main-awards .wrap ul li .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.main-awards .wrap ul li .text {
	margin-top: 20px;
	font-size: 16px;
}

.main-4-ekr {
	padding: 40px 0;
}
.main-4-ekr-head {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	margin-bottom: 60px;
}
.main-4-ekr-head .b-title {
	max-width: 440px;
	width: 100%;
}
.main-4-ekr-banner {
	width: calc(100% - 470px);
	background-image: linear-gradient(52deg, rgb(255,103,115) 0%, rgb(255,174,180) 100%);
	border-radius: 5px;
	position: relative;
	padding: 50px 40px 50px 190px;
}
.main-4-ekr-banner .abs-img {
	display: block;
	max-width: 130px;
	max-height: 90%;
	position: absolute;
	left: 95px;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.main-4-ekr-banner .text {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-4-ekr-banner .text p {
	display: block;
	width: calc(100% - 200px);
	font-size: 25px;
	color: #ffffff;
}
.main-4-ekr-banner .text .main-btn {
	width: 100%;
	max-width: 170px;
	font-weight: 700;
	padding: 12px 10px;
}

.b-filter-wrap {
	position: relative;
}
.b-filter-text {
	display: none;
	border-radius: 5px;
	padding: 13px 32px 13px 10px;
	border: 1px solid #3c94aa;
	color: #323232;
	font-size: 14px;
	position: relative;
	background-color: #ffffff;
	text-align: left;
	cursor: pointer;
}
.b-filter-wrap.active .b-filter-text {
	border-radius: 5px 5px 0 0;
}
.b-filter-text span {
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.b-filter-text:before {
	content: '';
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-top-color: #3c94aa;
	border-bottom: 0;
	position: absolute;
	right: 10px;
	top: calc(50% - 3px);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-filter-wrap.active .b-filter-text:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.b-filter-list {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.b-filter-list li {
	width: calc(25% - 22.5px);
	border-radius: 100px;
	border: 1px solid #d6dfe1;
	color: #3c94aa;
	font-size: 16px;
	padding: 13px 10px;
	cursor: pointer;
	margin-bottom: 15px;
	margin-right: 30px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-filter-list li:hover {
	border-color: #3c94aa;
}
.b-filter-list li.active {
	background-color: #3c94aa;
	border-color: #3c94aa;
	color: #ffffff;
}
.b-filter-list li:nth-child(4n) {
	margin-right: 0;
}
.b-services-wrap {
	margin-top: 25px;
}
.b-service {
	display: none;
	max-width: 830px;
	margin: 0 auto;
}
.b-service.active {
	display: block;
}
.b-service ul li {
	text-align: left;
	border-bottom: 1px solid #d6dfe1;
}
.b-service ul li a {
	display: block;
	position: relative;
	padding: 20px 0;
	font-size: 20px;
	font-weight: 700;
	color: #323232;
	padding-right: 50px;
}
.b-service ul li a:hover {
	color: #3c94aa;
}
.b-service ul li a:before {
	content: '';
	width: 12px;
	height: 20px;
	position: absolute;
	right: 18px;
	top: calc(50% - 10px);
	background-image: url('../i/b-serv-arr.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.main-banner {
	position: relative;
	padding: 40px 0;
}
.main-banner .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 100px;
	border-radius: 5px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.main-banner .image {
	width: calc(45% - 15px);
	order: 1;
}
.main-banner .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.main-banner .text {
	width: calc(55% - 15px);
	color: #ffffff;
	text-align: left;
	padding: 30px 0;
}
.main-banner .text .b-title {
	font-size: 32px;
}
.main-banner .text p {
	display: block;
	font-size: 18px;
	margin: 20px auto 25px;
}
.main-banner .text .main-btn {
	padding: 12px 10px;
	max-width: 300px;
}

.main-slider {
	padding: 40px 0;
}
.b-slider {
	position: relative;
	margin-top: 40px;
}
.b-slider-filter {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: stretch;
}
.b-slider-filter li {
	font-size: 16px;
	padding: 12px 10px;
	width: 185px;
	border: 1px solid #3c94aa;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-slider-filter li:hover {
	color: #3c94aa;
}
.b-slider-filter li.active {
	color: #ffffff;
	background-color: #3c94aa;
}
.b-slider-filter li:first-child {
	border-radius: 5px 0 0 5px;
}
.b-slider-filter li:last-child {
	border-radius: 0 5px 5px 0;
}
.b-slider-wrap {
	position: relative;
	display: none;
	padding: 0 70px;
	margin-top: 40px;
}
.b-slider-wrap.active {
	display: block;
}
.b-slider-wrap .slick-arrow {
	display: block;
	width: 24px;
	height: 40px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: calc(50% - 20px);
}
.b-slider-wrap .slick-prev {
	background-image: url('../i/ms-arr-prev.png');
	left: 0;
}
.b-slider-wrap .slick-next {
	background-image: url('../i/ms-arr-next.png');
	right: 0;
}
.b-slide img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.main-5-ekr {
	padding: 40px 0;
}
.main-5-ekr-image {
	margin-top: 40px;
}
.main-5-ekr-image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.main-5-ekr-list {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	jsutify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 30px;
}
.main-5-ekr-list li {
	width: calc(25% - 22.5px);
	margin-right: 30px;
	margin-bottom: 30px;
}
.main-5-ekr-list li:nth-child(4n) {
	margin-right: 0;
}
.main-5-ekr-list li .image {
	position: relative;
	height: 130px;
}
.main-5-ekr-list li .image img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.main-5-ekr-list li p {
	display: block;
	margin: 15px auto;
	font-size: 18px;
}
.main-5-ekr-list li .main-btn {
	max-width: 200px;
	padding: 12px 10px;
	margin: 0 auto;
}

.main-6-ekr {
	padding: 40px 0;
	text-align: left;
}
.main-6-ekr .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.main-6-ekr-slider {
	position: relative;
	width: 100%;
	max-width: 420px;
}
.main-6-ekr-slider .slick-arrow {
	display: block;
	width: 50px;
	height: 50px;
	box-shadow: 0px 3px 10px 0px rgba(31, 31, 33, 0.6);
	position: absolute;
	top: calc(50% - 25px);
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 0;
	border: 0;
	background-color: #ffffff;
	z-index: 10;
}
.main-6-ekr-slider .slick-prev {
	background-image: url('../i/m-6-arr-prev.png');
	left: 0;
}
.main-6-ekr-slider .slick-next {
	background-image: url('../i/m-6-arr-next.png');
	right: 0;
}
.main-6-ekr-slider .slide img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.main-6-ekr-content {
	width: calc(100% - 470px);
}
.main-6-ekr-title-wrap {
	padding: 40px 45px;
	position: relative;
}
.main-6-ekr-title-wrap.mobile {
	display: none;
}
.main-6-ekr-title-wrap .back {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 5px 0 0 5px;
	background-image: linear-gradient( 90deg, rgb(39,133,154) 0%, rgb(215,247,253) 100%);
}
.main-6-ekr-title-wrap .b-title {
	color: #ffffff;
	font-size: 40px;
	position: relative;
}
.main-6-ekr-content .text {
	margin-top: 30px;
	font-size: 14px;
}

.main-inst {
	padding: 30px 0;
}
.main-inst-a {
	display: block;
	max-width: 247px;
	margin: 25px auto 0;
}
.main-inst-a img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.main-inst-list {
	margin-top: 40px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
.main-inst-list li {
	width: calc(100%/3 - 20px);
	margin-right: 30px;
	margin-bottom: 30px;
}
.main-inst-list li:nth-child(3n) {
	margin-right: 0;
}
.main-inst-list li img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	border-radius: 5px;
}

.main-contacts {
	text-align: left;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../i/mc-fon.jpg');
}
.main-contacts-top {
	padding-bottom: 30px;
}
.main-contacts-top .b-title {
	max-width: 410px;
}
.main-contacts-mid {
	padding: 35px 0;
	background-image: linear-gradient( 90deg, rgb(20,123,141) 0%, rgb(60,148,170) 30%, rgb(89,181,200) 62%, rgb(218,249,255) 100%);
}
.main-contacts-list {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.main-contacts-list li {
	margin-right: 60px;
	color: #ffffff;
}
.main-contacts-list li:last-child {
	margin-right: 0;
}
.main-contacts-list li .main-contacts-phone {
	font-weight: 700;
	font-size: 21px;
}
.main-contacts-list li .main-contacts-phone a {
	color: #ffffff;
}
.main-contacts-list li p {
	display: block;
	font-size: 18px;
	margin-top: 10px;
}
.main-contacts-bottom .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.main-contacts-bottom .map {
	width: calc(55% - 15px);
	padding: 55px 0;
}
.main-contacts-bottom .image {
	width: calc(45% - 15px);
	position: relative;
}
.main-contacts-bottom .image img {
	display: block;
	max-width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}




@media screen and (max-width: 1280px){
	.main-2-ekr-bottom .wrap-item.item-image .abs-img {
		max-width: 100%;
	}

	.main-4-ekr-banner .text {
		display: block;
	}
	.main-4-ekr-banner .text p {
		width: 100%;
		margin-bottom: 20px;
	}

	.main-6-ekr-title-wrap .back {
		width: calc(100% + 30px);
	}
}
@media screen and (max-width: 1024px){
	.b-title {
		font-size: 45px;
	}

	.main-2-ekr-top .wrap-item {
		width: calc(50% - 15px);
	}
	.main-2-ekr-mid .wrap-item {
		width: calc(45% - 15px);
	}
	.main-2-ekr-top .wrap-item.small,
	.main-2-ekr-mid .wrap-item.small {
		width: calc(35% - 15px);
	}

	.main-3-ekr-info {
		justify-content: space-between;
	}
	.main-3-ekr-info li {
		width: calc(50% - 15px);
		margin-right: 0;
	}

	.main-awards .wrap ul {
		justify-content: space-between;
	}
	.main-awards .wrap ul li {
		width: calc(50% - 15px);
		margin-right: 0;
	}

	.main-4-ekr-head {
		display: block;
	}
	.main-4-ekr-head .b-title {
		max-width: none;
	}
	.main-4-ekr-banner {
		width: 100%;
		margin-top: 25px;
	}
	.main-4-ekr-banner .text {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.main-4-ekr-banner .text p {
		width: calc(100% - 190px);
		margin-bottom: 0;
	}

	.b-filter-wrap {
		max-width: 560px;
		margin: 0 auto;
	}
	.b-filter-text {
		display: block;
	}
	.b-filter-list {
		display: none;
		border: 1px solid #3c94aa;
		border-top: 0;
		border-radius: 0 0 5px 5px;
		background-color: #ffffff;
		position: absolute;
		left: 0;
		top: 100%;
		z-index: 20;
		width: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		padding-bottom: 5px;
		max-height: 140px;
	}
	.b-filter-wrap.active .b-filter-list {
		display: block;
	}
	.b-filter-list li {
		width: 100%;
		border: 0;
		padding: 5px;
		font-size: 14px;
		border-radius: 0;
		margin: 0 auto !important;
		text-align: left;
	}

	.main-banner .wrap {
		padding: 10px 40px;
	}

	.main-5-ekr-list li {
		width: calc(100%/3 - 20px);
	}
	.main-5-ekr-list li:nth-child(4n) {
		margin-right: 30px;
	}
	.main-5-ekr-list li:nth-child(3n) {
		margin-right: 0;
	}

	.main-6-ekr-slider {
		max-width: 300px;
	}
	.main-6-ekr-content {
		width: calc(100% - 330px);
	}
	.main-6-ekr-title-wrap {
		padding: 30px;
	}
	.main-6-ekr-title-wrap .b-title {
		font-size: 30px;
	}
}
@media screen and (max-width: 768px){
	.b-title {
		font-size: 20px;
	}
	.b-subtitle {
		margin-top: 10px;
		font-size: 16px;
	}

	.main-btn {
		font-size: 14px;
		margin: 0 auto;
	}

	.main-face {
		padding-top: 30px;
	}
	.main-face .wrap {
		padding: 0 10px;
	}
	.main-face .content {
		width: calc(50% - 10px);
		padding-bottom: 30px;
	}
	.main-face .sanitation {
		padding: 10px 15px 10px 60px;
		max-width: 260px;
		height: 50px;
		font-size: 12px;
		margin-bottom: 20px;
	}
	.main-face .sanitation .sanitation-img {
		width: 46px;
		height: 46px;
		left: 2px;
		top: 2px;
	}
	.main-face-text {
		margin: 20px auto;
		font-size: 14px;
	}
	.main-face-text ul li {
		padding-left: 16px;
	}
	.main-face-text ul li:before {
		top: 7.5px;
	}
	.main-face-buttons {
		max-width: 480px;
	}
	.main-face-buttons .main-btn {
		width: calc(50% - 10px);
		margin: 0;
	}
	.main-face .image {
		width: calc(50% - 10px);
	}
	.main-face .image img {
		max-height: 300px;
	}

	.main-2-ekr .wrap {
		display: block;
	}
	.main-2-ekr .wrap-item,
	.main-2-ekr .wrap-item.small {
		width: 100%;
	}
	.main-2-ekr-top {
		padding: 30px 0 15px;
		text-align: center;
	}
	.main-2-ekr-top .wrap-item.small {
		display: none;
	}
	.main-2-ekr-mid {
		padding: 15px 0;
		background-image: none;
		background-color: #147b8d;
	}
	.main-2-ekr-mid .orthopedics {
		max-width: 300px;
		align-items: center;
		margin: 0 auto;
	}
	.main-2-ekr-mid .orthopedics .image {
		width: 70px;
	}
	.main-2-ekr-mid .orthopedics .text {
		width: calc(100% - 85px);
	}
	.main-2-ekr-mid .orthopedics .text p {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.main-2-ekr-mid .orthopedics .text .main-btn {
		max-width: 170px;
		margin-left: 0;
	}
	.main-2-ekr-mid .director-quote {
		font-size: 14px;
		margin: 20px auto 0;
		max-width: 300px;
	}
	.main-2-ekr-bottom {
		padding-top: 15px;
	}
	.main-2-ekr-bottom .wrap-item.gray-item {
		background-color: #f5f5f6;
		padding: 15px 0;
		position: relative;
	}
	.main-2-ekr-bottom .wrap-item.gray-item:before,
	.main-2-ekr-bottom .wrap-item.gray-item:after {
		content: '';
		width: 30px;
		height: 100%;
		position: absolute;
		top: 0;
		background-color: #f5f5f6;
	}
	.main-2-ekr-bottom .wrap-item.gray-item:before {
		left: 100%;
	}
	.main-2-ekr-bottom .wrap-item.gray-item:after {
		right: 100%;
	}
	.main-2-ekr-bottom .wrap-item.item-image {
		height: auto;
		margin-top: 15px;
	}
	.main-2-ekr-bottom .wrap-item.item-image .abs-img {
		position: relative;
		left: 0;
		max-height: 300px;
		margin: 0 auto;
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
	.main-2-ekr-bottom .director-name {
		font-size: 12px;
		text-align: center;
		margin-top: 0;
	}
	.main-2-ekr-bottom .work-date {
		margin: 0 auto;
	}
	.main-2-ekr-bottom .work-date .text .name {
		font-size: 16px;
	}
	.main-2-ekr-bottom .work-date .text p {
		font-size: 12px;
	}

	.main-3-ekr {
		padding: 30px 0 10px;
	}
	.main-3-ekr-info li {
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}
	.main-3-ekr-info li .name {
		font-size: 16px;
	}
	.main-3-ekr-info li p {
		font-size: 14px;
	}

	.main-awards {
		padding: 50px 0 30px;
	}
	.main-awards .wrap {
		padding: 20px 20px 0;
	}
	.main-awards .wrap ul li {
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}
	.main-awards .wrap ul li .text {
		margin-top: 15px;
		font-size: 14px;
	}

	.main-4-ekr {
		padding: 30px 0;
	}
	.main-4-ekr-head {
		margin-bottom: 20px;
	}
	.main-4-ekr-banner {
		margin-top: 15px;
		padding: 30px 20px 30px 160px;
	}
	.main-4-ekr-banner .abs-img {
		left: 80px;
	}
	.main-4-ekr-banner .text {
		display: block;
	}
	.main-4-ekr-banner .text p {
		width: 100%;
		font-size: 18px;
		margin-bottom: 15px;
	}
	.main-4-ekr-banner .text .main-btn {
		margin-left: 0;
	}

	.b-services-wrap {
		margin-top: 20px;
	}
	.b-service ul li a {
		font-size: 16px;
		padding: 10px 20px 10px 0;
	}
	.b-service ul li a:before {
		right: 0;
		top: calc(50% - 6px);
		width: 8px;
		height: 12px;
	}

	.main-banner {
		padding: 30px 0;
	}
	.main-banner .wrap {
		display: block;
		background-image: none !important;
		padding: 20px;
	}
	.main-banner .image {
		width: 100%;
	}
	.main-banner .image img {
		max-height: 300px;
	}
	.main-banner .text {
		width: 100%;
		padding: 0;
		margin-top: 20px;
		text-align: center;
	}
	.main-banner .text .b-title {
		font-size: 20px;
	}
	.main-banner .text p {
		font-size: 14px;
		margin: 10px auto 15px;
	}
	.main-banner .text .main-btn {
		max-width: 260px;
	}

	.main-slider {
		padding: 30px 0;
	}
	.b-slider {
		margin-top: 20px;
	}
	.b-slider-filter li {
		font-size: 14px;
		padding: 10px;
		width: 140px;
	}
	.b-slider-wrap {
		margin-top: 20px;
		padding: 0 20px;
	}
	.b-slider-wrap .slick-arrow {
		width: 12px;
		height: 20px;
		top: calc(50% - 10px);
	}

	.main-5-ekr {
		padding: 30px 0;
	}
	.main-5-ekr-image {
		margin-top: 20px;
	}
	.main-5-ekr-list {
		margin-top: 20px;
	}
	.main-5-ekr-list li {
		width: calc(100%/3 - 40px/3);
		margin-right: 20px;
		margin-bottom: 20px;
	}
	.main-5-ekr-list li:nth-child(4n) {
		margin-right: 20px;
	}
	.main-5-ekr-list li:nth-child(3n) {
		margin-right: 0;
	}
	.main-5-ekr-list li .image {
		height: 60px;
	}
	.main-5-ekr-list li p {
		margin: 10px auto;
		font-size: 14px;
	}

	.main-6-ekr {
		padding: 30px 0;
		text-align: center;
	}
	.main-6-ekr .wrap {
		margin-top: 20px;
		display: block;
	}
	.main-6-ekr-slider {
		max-width: none;
	}
	.main-6-ekr-slider .slick-arrow {
		width: 34px;
		height: 34px;
		top: calc(50% - 17px);
	}
	.main-6-ekr-slider .slide img {
		max-height: 300px;
	}
	.main-6-ekr-content {
		margin-top: 20px;
		width: 100%;
	}
	.main-6-ekr-title-wrap {
		display: none;
		padding: 20px;
		background-color: #3c94aa;
		border-radius: 5px;
	}
	.main-6-ekr-title-wrap.mobile {
		display: block;
	}
	.main-6-ekr-title-wrap .back {
		display: none;
	}
	.main-6-ekr-title-wrap .b-title {
		font-size: 20px;
	}
	.main-6-ekr-content .text {
		text-align: left;
		margin-top: 0;
		font-size: 12px;
	}

	.main-inst-a {
		max-width: 160px;
		margin-top: 15px;
	}
	.main-inst-list {
		margin-top: 20px;
		justify-content: space-between;
	}
	.main-inst-list li {
		width: calc(50% - 10px);
		margin-bottom: 20px;
		margin-right: 0;
	}

	.main-contacts {
		text-align: center;
	}
	.main-contacts-top {
		padding-bottom: 15px;
	}
	.main-contacts-top .b-title {
		max-width: none;
	}
	.main-contacts-mid {
		padding: 15px 0;
		background-color: #3c94aa;
		background-image: none;
	}
	.main-contacts-list {
		justify-content: space-between;
		max-width: 300px;
		margin: 0 auto;
	}
	.main-contacts-list li {
		width: calc(50% - 10px);
		margin-right: 0;
	}
	.main-contacts-list li .main-contacts-phone {
		font-size: 16px;
	}
	.main-contacts-list li p {
		font-size: 14px;
		margin-top: 5px;
	}
	.main-contacts-bottom .wrap {
		display: block;
	}
	.main-contacts-bottom .map {
		width: 100%;
		padding: 15px 0;
	}
	.main-contacts-bottom .image {
		width: 100%;
	}
	.main-contacts-bottom .image img {
		position: relative;
		max-height: 300px;
		margin: 0 auto;
	}
}
@media screen and (max-width: 560px){
	.main-face .wrap {
		display: block;
		padding-right: calc(100% - 220px);
		overflow: hidden;
	}
	.main-face .content {
		width: 100%;
	}
	.main-face .sanitation {
		padding: 12px 20px 12px 60px;
		font-size: 10px;
		max-width: 220px;
	}
	.main-face-buttons {
		display: block;
	}
	.main-face-buttons .main-btn {
		width: 100%;
		margin: 0 auto 15px;
	}
	.main-face-buttons .main-btn:last-child {
		margin-bottom: 0;
	}
	.main-face .image {
		position: absolute;
		width: 220px;
		max-height: 100%;
		left: 235px;
		bottom: 0;
	}
	.main-face .image img {
		max-height: 100%;
	}

	.main-3-ekr {
		padding: 30px 0;
	}
	.main-3-ekr-info {
		display: block;
	}
	.main-3-ekr-info li {
		width: 100%;
		margin: 0 auto 20px;
		text-align: center;
	}
	.main-3-ekr-info li:nth-child(4n) {
		margin-right: auto;
	}
	.main-3-ekr-info li:last-child {
		margin-bottom: 0;
	}

	.main-awards .wrap {
		padding: 20px;
	}
	.main-awards .wrap ul {
		display: block;
	}
	.main-awards .wrap ul li {
		width: 100%;
		margin: 0 auto 20px;
	}
	.main-awards .wrap ul li:nth-child(3n) {
		margin-right: auto;
	}
	.main-awards .wrap ul li:last-child {
		margin-bottom: 0;
	}

	.main-4-ekr-banner {
		padding: 30px 20px 30px 120px;
	}
	.main-4-ekr-banner .abs-img {
		left: 60px;
		max-width: 100px;
	}

	.main-5-ekr-list {
		justify-content: space-between;
	}
	.main-5-ekr-list li {
		width: calc(50% - 10px);
		margin-right: 0;
	}
	.main-5-ekr-list li:nth-child(4n),
	.main-5-ekr-list li:nth-child(3n) {
		margin-right: 0;
	}
}
@media screen and (max-width: 390px){
	.main-face .wrap {
		padding: 0 10px;
	}
	.main-face .image {
		position: relative;
		left: 0;
		width: 100%;
	}
	.main-face .image img {
		max-height: 240px;
		margin: 0 auto;
	}
}